

.user_profile_card {
    direction: rtl;
    background:linear-gradient(to right,rgba(43, 221, 12, 0.192),rgba(99, 212, 193, 0.274));
    margin-top: 30px;
    padding: 16px 8px;
    box-shadow: 5px 5px 10px #0f0c0c17, -5px -5px 10px #2222220e;
    display: flex;
    position: relative;
    border-top-left-radius:6px ;
    border-top-right-radius:6px ;
    color: black;
}
.user_profile_card .user_profile_img {
    border-radius: 50%;
    background-color: #E3FFF5;
    margin: 10px;
    width: 80px;
    height: 80px;
    /* margin: 5px auto 10px auto; */
}
.user_profile_card .user_profile_img img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.user_details{
    text-align: left;
    padding: 8px 0 0 10px;
}
.user_details .user_profile_name h5{
    font-size: 20px;

    margin-bottom: 5px;
}
.user_details .user_profile_userID h5{
    font-size: 14px;

    margin-bottom: 5px;
}
.user_details .user_profile_userID h5 span{
    font-weight: 400;

}
.user_details .user_profile_mail h3{
    font-size: 15px;

}

#btn_go{
    width: 100%;
    border-top-left-radius:0px ;
    border-top-right-radius:0px ;
    height: 45px;
}
#btn_go p{
    font-weight: 600;
}

#cardz{
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
}
