


.user_profile_card {
    background:linear-gradient(rgb(0, 73, 70),rgb(0, 141, 63));
    margin-top: 30px;
    padding: 16px 8px;
    box-shadow: 5px 5px 10px #4d4d4d17, -5px -5px 10px #4545450e;
    display: flex;
    position: relative;
    border-top-left-radius:6px ;
    border-top-right-radius:6px ;
}
.user_profile_card .user_profile_img {
    border-radius: 50%;
    background-color: #E3FFF5;
    margin: 10px;
    width: 80px;
    height: 80px;
    /* margin: 5px auto 10px auto; */
}
.user_profile_card .user_profile_img img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.user_details{
    text-align: left;
    padding: 8px 0 0 10px;
}
.user_details .user_profile_name h5{
    font-size: 20px;
    color: #fff;
    margin-bottom: 5px;
}
.user_details .user_profile_userID h5{
    font-size: 14px;
    color: #a1fadc;
    margin-bottom: 5px;
}
.user_details .user_profile_userID h5 span{
    font-weight: 400;
    color: #ffffff;
}
.user_details .user_profile_mail h5{
    font-size: 14px;
    font-weight: 400;
    color: #b6ffe7;
    margin-bottom: 14px;
}
.user_details .user_designation h5{
    font-size: 12px;
    background-color: #c3ffeb;
    color: #00885a;
    padding: 2px 8px;
    border-radius: 12px;
    display: inline;
}
#btn_go{
    width: 100%;
    border-top-left-radius:0px ;
    border-top-right-radius:0px ;
    height: 45px;
}
#btn_go p{
    font-weight: 600;
}